$border-gray: rgb(224, 224, 224);

$border-blue: rgba(60, 84, 200, 1);
$header-blue: rgba(60, 84, 200, 0.7);

$gray--bg: rgba(192,192,192,0.2);
$gray--text: rgba(128,128,128,1);

$red-bankrupt: rgba(255, 0, 0, 0.2);