$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'colors.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.container {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.page {
    margin-top: 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.table {
    background-color: white;
    border-radius: 0.5rem;
}

.input {
    height: 40px;
    padding: 2rem;
}

.header {
    padding-bottom: 3rem;
}