$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'colors.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85%; // 85
    font-family: 'proxima-nova', sans-serif;
    font-weight: 200;
    line-height: 1.875;
}

.page-top {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    margin-top: 1rem;
    background-color: white;
}

.page-bottom {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    margin-top: 4rem;
    background-color: white;
    text-align: left;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.input-item {
    display: flex;
}

.input {
    height: 40px;
    padding-right: 2rem;
    text-align: left;
    border: none;
    border-bottom: 0.5px solid;
    border-color: $border-gray;
}

input:focus {
    outline: none;
    border-color: $border-blue;
}

input:hover {
    border-color: $border-blue;
}

.header {
    padding-bottom: 2rem;
    font-weight: 150;
}

.table > tbody > tr > td {
    padding: 12px;
    //color: $gray--text;
}

.table-header {
    background-color: $header-blue;
    padding-top: 2rem;
}

.table-header th {
    padding: 12px;
    text-align: center;
    color: white;
    font-weight: 300;
    text-align: left;
}

.nav-buttons {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    width: 55px;
}

.nav-buttons a {
    text-decoration: none;
}

.page-number {
    margin-right: 1rem;
}

.glyphicon {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    color: black;
}

.input-item a {
    text-decoration: none;
}

.bankrupt {
    background-color: $red-bankrupt;
}